:root {
  /* Light Mode colors */
  --blue-light-mode: #0079ff;
  --grey-light-mode: #697c9a;
  --dark-blue-light-mode: #4b6a9b;
  --black-light-mode: #2b3442;
  --main-bg-light-mode: #f6f8ff;
  --white-light-mode: #fefefe;

  /* Dark Mode colors */
  --blue-dark-mode: #0079ff;
  --white-dark-mode: #ffffff;
  --black-dark-mode: #141d2f;
  --dark-blue-dark-mode: #1e2a47;
}

.dashboard {
  width: 100%;
  padding: 48px 42px 48px 42px;
  background-color: var(--white-light-mode);
  border-radius: 15px;
  box-shadow: 0px 16px 30px rgba(70, 96, 187, 0.198567);

  display: grid;
  grid-template-columns: 117px 2fr;
  gap: 32px 37px;
}

li {
  list-style: none;
}

/* Tablet sizing */
@media only screen and (max-width: 768px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}

/* Phone sizing */
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .dashboard {
    padding: 32px 24px;
  }
}
