:root {
  /* Light Mode colors */
  --blue-light-mode: #0079ff;
  --grey-light-mode: #697c9a;
  --dark-blue-light-mode: #4b6a9b;
  --black-light-mode: #2b3442;
  --main-bg-light-mode: #f6f8ff;
  --white-light-mode: #fefefe;

  /* Dark Mode colors */
  --blue-dark-mode: #0079ff;
  --white-dark-mode: #ffffff;
  --black-dark-mode: #141d2f;
  --dark-blue-dark-mode: #1e2a47;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.App {
  width: 730px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  font-family: "Space Mono", monospace;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* title */
.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.title-container .title {
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  color: var(--black-light-mode);
}

.dark-mode-button {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.dark-mode-button > button {
  width: 40px;
  height: 19px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  font-family: "Space Mono", monospace;
  color: var(--grey-light-mode);
  background-color: var(--main-bg-light-mode);
  border: none;
  cursor: pointer;
}

.dark-mode-button > button:hover {
  color: var(--black-light-mode);
}

/* Tablet sizing */
@media (max-width: 768px) {
  .App {
    width: 573px;
  }
}

@media (max-width: 375px) {
  .App {
    width: 327px;
    display: block;
  }

  .title-container {
    margin-top: 32px;
  }
}
